#page-header .card {
  background-size: auto 50%;
  color: #0052cc;
  background-color: #e1eaf9 !important;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1.8rem;

  font-family: "Rubik", Sans-Serif;
  //background-image: url("../images/custom-1.svg");
}

.userfirstname {
  font-weight: bold;
}
.pageheader-image {
  height: 30%;
  width: 30%;
  float: right;
}

.btn-primary {
  //color: red;
  background-image: linear-gradient(45deg, #0052cc, #00baff);
  color: #fff;
  border-radius: 10px;
}
.btn-primary:hover {
  box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
  color: #fff;
  border-radius: 10px;
}
.btn-secondary {
  //color: red;
  background-image: linear-gradient(45deg, #04a08b, #00baff);
  color: #fff;
  border-radius: 10px;
}
.btn-secondary:hover {
  box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
  color: #fff;
  border-radius: 10px;
}

.margin-top {
  margin-top: 3rem;
}

//NAV-DRAWER
#nav-drawer {
  background-color: #fff;
  margin-top: -1rem;
}

.course-text-align {
  text-align: left;
}

.down-arrow-align {
  padding-left: 15px;
}
.list-group {
  background-color: #fff;
}
.list-group .list-group-item {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  border: none;
}

.list-group .list-group-item::before {
  box-sizing: border-box;
}

.list-group .list-group-item::after {
  box-sizing: border-box;
}

//active navbar
.list-group-item .list-group-item-action .active_tree_node .activestyle {
  color: black;
}

#nav-drawer .list-group-item-action:hover {
  color: #0052cc;
  border: none;
}
#nav-drawer .list-group-item-action.active {
  background-color: #fff;
  color: #0052cc;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bababa;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px #808080;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

.dashboard-card-deck .dashboard-card {
  max-width: 19rem;
  border-radius: 10px;
}
.dashboard-card img {
  width :100%;
  height: 100%;
  max-height: 12rem;
  border-radius: 10px 10px 0px 0px;
}
.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.card-img-overlay:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.card-img-overlay .btn {
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
.card-img-overlay .btn:hover {
  background-color: red;
}
//.align-items-start {
//  text-align: center;
//}
.card-footer {
  border-radius: 10px;
}
.progress {
  border-radius: 10px;
  width: 100%;
}

.block_recentlyaccessedcourses,
.block_myoverview {
  border-radius: 10px;
}

//course page
#region-main {
  border-radius: 10px;
  width: 100%;
}

.section li.activity.hasinfo {
  border: 1px solid #d9d7d7;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 2px 2px #d9d7d7;
  margin: 16px 8px 5px 5px;
  display: block;
}

.section li.activity.hasinfo:hover {
  background-color: #e1eaf9;
}

//.activity .quiz .modtype_quiz .hasinfo {
//  background-color: red;
//}

//FOOTER

#page-footer {
  background-color: #e1eaf9 !important;
  color: black;
  text-align: center;
}
#page-footer a {
  text-decoration: none;
  color :black;
  font-weight: 500;
}
#page-footer a:hover {
  border-radius: 5px;
  margin: 10px 10px;
  padding: 0.8rem 1.5rem;
  background-color: grey;
  color: white;
}
.s-footer {
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#theme_switch_link a,
.usertour a,
.tool_dataprivacy a,
.purgecaches a,
.s-footer .helplink a,
.chart-table-expand a,
.moreless-actions a,
.continuebutton a,
.addtagcoll a,
#siteconfiglink a {
  display: inline-block;
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  background-image: linear-gradient(45deg, #04a08b, #00baff);
  color: #fff;
  border: 1px solid #e4e8f0;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  transition: all 350ms ease;
}

#theme_switch_link a:hover,
.usertour a:hover,
.tool_dataprivacy a:hover,
.purgecaches a:hover,
.s-footer .helplink a:hover,
.chart-table-expand a:hover,
.moreless-actions a:hover,
.continuebutton a:hover,
.addtagcoll a:hover,
#siteconfiglink a:hover {
  box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
  border-color: #e4e8f0;
}

#theme_switch_link a:before,
.usertour a:before,
.tool_dataprivacy a:before,
.purgecaches a:before,
.s-footer .helplink a:before,
.chart-table-expand a:before,
.moreless-actions a:before,
.continuebutton a:before,
.addtagcoll a:before,
#siteconfiglink a:before {
  display: none;
}

.helplink svg,
.helplink img {
  position: relative;
  margin: -3px 20px 0 0;
}

#page-admin-grade-edit-letter-index #region-main .mdl-align a {
  display: table;
  margin-bottom: 2rem;
}

.moreless-actions {
  display: inline-flex;
  left: 25%;
  position: relative;
}
@media (min-width: 320px) and (max-width: 1199.98px) {
  .moreless-actions {
    left: 0;
  }
}

@media (min-width: 320px) and (max-width: 1199.98px) {
  .s-footer {
    padding: 40px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .s-footer {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 1199.98px) {
  .s-footer .l-container {
    padding: 0 20px;
  }
}

//form

.mform .form-inline .form-control,
.mform .form-inline .custom-select {
  border-radius: 10px;
}

.editor_atto_toolbar {
  border-radius: 10px;
}

div.editor_atto_toolbar {
  background-color: #e1eaf9 !important;
}

div.editor_atto_toolbar button {
  border-radius: 10px;
  margin: 2px;
  border: 1px solid #e1eaf9;
  background-color: white;
}

div.editor_atto_toolbar div.atto_group {
  background-color: #e1eaf9;
  border: none;
  margin: 5px 0 0 5px;
}

.availability-inner,
.availability-plugincontrols {
  border-radius: 10px;
}

.fheader {
  font-weight: bold;
}

// activity settings
#region-main-settings-menu {
  float: right;
  margin: 1rem;
  margin-left: 30rem;
}

.activity-completion-button {
  float: right;

}

.activity-completion-done {
  float: right;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(45deg, white, #bbd5bb);
  margin-bottom: 18px;

}

.activity-completion-done:hover {
  box-shadow: inset 0 0 100px rgb(0 0 0 / 10%);
  color: rgba(12, 12, 12, 0.95);
}
.btn-outline-secondary {
  background-image: linear-gradient(45deg, #b7c1d1, #00baff);
  color: black;
  //font-weight: bold;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.btn-outline-secondary:hover {
  box-shadow: inset 0 0 100px rgb(0 0 0 / 10%);
  color: rgba(12, 12, 12, 0.95);
  border-radius: 10px;
}


.section li.activity.hasinfo:last-child {
  padding-bottom: 20px;
}
//block
.card {
  border-radius: 10px;
}

//.breadcrumb-item {
//  font-size: 15px;
//  display: inline-block;
//}

.breadcrumb {
  // display: inline-block;
  // padding: 5px;
  margin: 0;
  background: transparent;
  overflow: hidden;
  border-radius: 20px;
}
.breadcrumb li {
  float: left;
  //background: rgba(0,0,0,0.5);
  background: #0052cc;
  border-radius: 0;
  font-size: 10px;
  color: #fff;
  //text-transform: uppercase;
  position: relative;
}
.breadcrumb li:nth-child(even) {
  background: rgba(0, 0, 0, 0.8);
  padding: 3px 14px;
  font-size: 14px;
}
.breadcrumb li:nth-child(odd) {
  background: #0052cc;
  padding: 3px 14px;
  font-size: 14px;
}
.breadcrumb li:last-child {
  // padding: 5px 14px;
  color: #fff;
  z-index: 1;
  position: relative;
}
.breadcrumb li:last-child:before {
  content: "";
  display: block;
  width: 117%;
  height: 101%;
  background: #04a08b;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) skew(-20deg);
}

.breadcrumb li:before {
  display: none;
}
.breadcrumb li a {
  display: block;
  padding: 3px 25px;
  font-size: 14px;
  color: #fff;
}
// .breadcrumb-item{
//   padding: 8px 0px 8px 0px ;
// }

@media only screen and (max-width: 767px) {
  .breadcrumb li a,
  .breadcrumb li:last-child {
    font-size: 12px;
    padding: 4px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .breadcrumb li a,
  .breadcrumb li:last-child {
    padding: 3px 8px;
  }
}
@media only screen and (max-width: 360px) {
  .breadcrumb li a,
  .breadcrumb li:last-child {
    font-size: 10px;
    padding: 3px 5px;
  }
}


.path-mod div.activity-information {
  border-bottom: 1px solid #dee2e6;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  margin-bottom: 4.5rem;
}
.tab-content {
  border-radius: 10px;
}
.optioninfo:hover {
  border: 2px solid #00baff;
  border-radius: 10px;
}

.searchbar {
  border: 1px solid rgb(168, 165, 165);
}
.modal-content {
  border-radius: 10px;
}
#all-tab-4 {
  background-color: #8fd7f1;
}
#activity-tab-4 {
  background-color: #84d6cb;
}
#resources-tab-4 {
  background-color: #8fd7f1;
}

.dropdown-menu-right {
  background-color: #e1eaf9;
  color: white;
  transition: all;
  border-radius: 10px;
}
.editing .section .activity:hover,
.editing .section .activity.action-menu-shown {
  background-color: rgba(183, 230, 241, 0.986);
}
.action-menu-toggle-1:hover {
  background-color: #e1eaf9;
  border-radius: 10px;
}

.editor_atto_toolbar {
  margin-bottom: 0.5rem;
}
.editor_atto_content.form-control {
  border: 1px solid black;
}



.c-course-box {

  .coursename, .course-box-title {

    .course-box-icons {
      position: absolute;
      top: 18px;
      right: 22px;

      .course-box-icons-list {
        padding: 0;
        margin: 0;

        display: inline-flex;
        list-style: none;

        @include media-breakpoint-only(sm) {
          top: 50px;
          left: -3px;
        }

        li {
          margin: 0 0 0 3px;
          width: 32px;
          height: 32px;

          display: inline-flex;
          align-items: center;
          justify-content: center;

          background-color: rgba(0, 0, 0, 0.45);
          border-radius: 10px;

          .icon {
            color: #fff;
          }

          img {
            width: 11px;
            height: auto;
          }
        }
      }

    }

  }
}




.c-course-box .coursename .course-box-icons, .c-course-box .course-box-title .course-box-icons {
  position: absolute;
  top: 18px;
  right: 22px;
}
.c-course-box .coursename .course-box-icons .course-box-icons-list, .c-course-box .course-box-title .course-box-icons .course-box-icons-list {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .c-course-box .coursename .course-box-icons .course-box-icons-list, .c-course-box .course-box-title .course-box-icons .course-box-icons-list {
    top: 50px;
    left: -3px;
  }
}
.c-course-box .coursename .course-box-icons .course-box-icons-list li, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li {
  margin: 0 0 0 3px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}
.c-course-box .coursename .course-box-icons .course-box-icons-list li .icon, .c-course-box .coursename .course-box-icons .course-box-icons-list li .editor_atto_notification .atto_info img, .editor_atto_notification .atto_info .c-course-box .coursename .course-box-icons .course-box-icons-list li img, .c-course-box .coursename .course-box-icons .course-box-icons-list li .fdescription img, .fdescription .c-course-box .coursename .course-box-icons .course-box-icons-list li img, .c-course-box .coursename .course-box-icons .course-box-icons-list li .form-control-static img, .form-control-static .c-course-box .coursename .course-box-icons .course-box-icons-list li img, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .icon, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .editor_atto_notification .atto_info img, .editor_atto_notification .atto_info .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .fdescription img, .fdescription .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .form-control-static img, .form-control-static .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img {
  font-size: 0.75rem;
  color: #fff;
}
.c-course-box .coursename .course-box-icons .course-box-icons-list li .icon.fa-star, .c-course-box .coursename .course-box-icons .course-box-icons-list li .editor_atto_notification .atto_info img.fa-star, .editor_atto_notification .atto_info .c-course-box .coursename .course-box-icons .course-box-icons-list li img.fa-star, .c-course-box .coursename .course-box-icons .course-box-icons-list li .fdescription img.fa-star, .fdescription .c-course-box .coursename .course-box-icons .course-box-icons-list li img.fa-star, .c-course-box .coursename .course-box-icons .course-box-icons-list li .form-control-static img.fa-star, .form-control-static .c-course-box .coursename .course-box-icons .course-box-icons-list li img.fa-star, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .icon.fa-star, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .editor_atto_notification .atto_info img.fa-star, .editor_atto_notification .atto_info .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img.fa-star, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .fdescription img.fa-star, .fdescription .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img.fa-star, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li .form-control-static img.fa-star, .form-control-static .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img.fa-star {
  color: #ffd973 !important;
}
.c-course-box .coursename .course-box-icons .course-box-icons-list li img, .c-course-box .course-box-title .course-box-icons .course-box-icons-list li img {
  width: 11px;
  height: auto;
}

.nav-bar-2 .usermenu .action-menu .menubar .action-menu-trigger .dropdown a .userbutton .usertext {
  display :none;
}
.nav-tabs li:nth-child(odd) a{
  background-image: linear-gradient(#e1eaf9, white);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border : 2px solid transparent;
  border-color: blue;
  border-bottom-color: white;
}

//topbar

.nav-menu-bar {
  margin-left: 5rem;
}

.sitename-align {
  margin-left: 40%;

}

.shadow-property {
  box-shadow: none;
}



//form

.form-control {
  border-radius: 10px;
}

@media (min-width: 768px) {
  .card-deck {
    flex-flow: row wrap;
  }
  .card-deck .card {
    display: flex;
    flex-direction: column;
  }
}
.card-deck {
  display: flex;
}
@media (max-width: 1500px) {
  .s-courses .card-deck .card {
    flex-basis: calc(33.333% -20px);
  }
}
.s-courses .card-deck .card {
  background-color: transparent;
  flex-shrink: 0;
  margin: 0 20px 20px 0;
}

//quiz
 .info {
   border-radius: 10px;
 }

.que .formulation {
  border-radius: 10px;
}

#jump-to-activity.custom-select {
  border-radius: 10px;
}

.que .outcome, .que .comment {
  border-radius: 10px;
}

.que.essay .qtype_essay_response.readonly {
  border-radius: 10px;
}

#quiz-timer-wrapper #quiz-timer {
  border-radius: 10px;
  border: 1px solid #e1eaf9 !important;
}

.editor_atto_content.form-control {
  border-radius: 10px;
}

// file upload modal
.file-picker .fp-content {
  margin-top: 0.5rem;
  border: 1px solid #d9d7d7;
}

.file-picker .fp-navbar {
  box-shadow: 2px 2px #d9d7d7;
}

.btn {
  border-radius: 10px;
}