//.activity .quiz .modtype_quiz .hasinfo {
//  background-color: red;
//}

// activity settings
#region-main-settings-menu {
    float: right;
    margin: 1rem;
    margin-left: 30rem;
}

.activity-completion-button {
    float: right;
}

.activity-completion-done {
    float: right;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, white, #bbd5bb);
    margin-bottom: 18px;
}

.btn-outline-secondary {
    background-image: linear-gradient(45deg, #b7c1d1, #00baff);
    color: black;
    //font-weight: bold;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    border: none;
    overflow: hidden;
}

.btn-outline-secondary:hover {
    box-shadow: inset 0 0 100px rgb(0 0 0 / 10%);
    color: rgba(12, 12, 12, 0.95);
    border-radius: $border-radius;
}

.activity-completion-done:hover {
    box-shadow: inset 0 0 100px rgb(0 0 0 / 10%);
    color: rgba(12, 12, 12, 0.95);
}

.section li.activity.hasinfo:last-child {
    padding-bottom: 20px;
}
