.breadcrumb {
    margin: 0;
    background: transparent;
    overflow: hidden;
    border-radius: 20px;
}
.breadcrumb li {
    float: left;
    background: #0052cc;
    border-radius: 0;
    font-size: 10px;
    color: #fff;
    position: relative;
}
.breadcrumb li:nth-child(even) {
    background: rgba(0, 0, 0, 0.8);
    padding: 3px 14px;
    font-size: 14px;
    //padding-top: 5px;
}
.breadcrumb li:nth-child(odd) {
    background: #0052cc;
    padding: 3px 14px;
    font-size: 14px;
}
.breadcrumb li:last-child {
    color: #fff;
    z-index: 1;
    position: relative;
}
.breadcrumb li:last-child:before {
    content: "";
    display: block;
    width: 117%;
    height: 101%;
    background: #04a08b;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) skew(-20deg);
}

.breadcrumb li:before {
    display: none;
}
.breadcrumb li a {
    display: block;
    padding: 3px 25px;
    font-size: 14px;
    color: #fff;
}

.breadcrumb li a:focus {
    background-color: transparent;
    color: #fff;
}

.breadcrumb li a:focus-within {
    background-color: transparent;
    box-shadow: none;

}
