//course page
#region-main {
    border-radius: $border-radius;
    width: 100%;
}

.section li.activity.hasinfo {
    border: 1px solid #d9d7d7;
    border-radius: 10px;
    padding: 30px;
    //padding-bottom: 50px;
    box-shadow: 2px 2px #d9d7d7;
    margin: 16px 8px 5px 5px;
    display: block;
}

.section li.activity.hasinfo:hover {
    background-color: #e1eaf9;
}
