//form

.mform .form-inline .form-control,
.mform .form-inline .custom-select {
    border-radius: $border-radius;
}

.editor_atto_toolbar {
    border-radius: $border-radius;
}

div.editor_atto_toolbar {
    background-color: $primary !important;
}

div.editor_atto_toolbar button {
    border-radius: 10px;
    margin: 2px;
    border: 1px solid #e1eaf9;
    background-color: white;
    padding: 10px;
}

div.editor_atto_toolbar div.atto_group {
    background-color: $primary;
    border: none;
}

.availability-inner,
.availability-plugincontrols {
    border-radius: $border-radius;
}

.fheader {
    font-weight: bold;
}
