// gradeSheet Design

.all-button {
    // width: 20%;

    border-radius: $border-radius;
    border: 1px solid #106d61;
    background-color: #5bcfc0;
    color: #106d61 !important;
}
.page-link {
    border-radius: $border-radius;
    color: #106d61;
}

.page-item.active .page-link {
    z-index: 3;
    color: #106d61;
    background-color: #5bcfc0;
    border-color: #5bcfc0;
}
