// gradeSheet Design

.all-button {
    // width: 20%;

    border-radius: $border-radius;
    background-color: #5bcfc0;
    color: #106d61 !important;
}
.page-link {
    border-radius: $border-radius;
    color: #106d61;
}
