// gradeSheet Design

.all-button {
    // width: 20%;

    border-radius: $border-radius;
    background-color: #5bcfc0;
    //color: #106d61 !important;
    color: white !important;
    padding: .34rem .8rem;
    margin-top: 2px;
}

.all-button-deselect {
    border: 1px solid #dee2e6;
    border-radius: $border-radius;
    color: #106d61 !important;
    padding: .34rem .8rem;
    margin-top: 2px;
}
.page-link {
    border-radius: $border-radius;
    color: #106d61;
    margin-left: 1px;

}


.page-item.active .page-link {
    background-color: #5bcfc0;
    z-index: 1;
    border: 1px solid #5bcfc0;
}